<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Minecraft Серверы</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
</head>
<body>

<!-- Кнопка открытия модального окна -->
<header>
    <h1>Список открытых Minecraft-серверов StickyPiston.co</h1>
</header>


<!-- Модалка -->
<dialog id="settings-modal" onmousedown="event.target==this && this.close()">
    <div class="modal-content">
        <span class="close-btn" onclick="closeSettings()">&times;</span>

        <h2>Настройки</h2>
        <form id="settings-form" method="dialog" onsubmit="submitSettings()">
            <label for="ips">Целевые IP</label>
            <div id="ip-tags-container" class="tags-container"></div>
            <div class="ip-input-row">
                <input type="text" id="ip-input" placeholder="Введите IP и нажмите Enter или +">
                <button type="button" id="add-ip-btn">+</button>
            </div>
            <div id="ip-error" class="error-message"></div>

            <label for="port_start">Начальный порт</label>
            <input type="number" id="port_start">

            <label for="port_end">Конечный порт</label>
            <input type="number" id="port_end">

            <label for="timeout">Таймаут (сек)</label>
            <input type="number" step="0.1" id="timeout">

            <label for="concurrency_limit">Лимит подключений</label>
            <input type="number" id="concurrency_limit">

            <button type="submit">Сохранить</button>
        </form>
    </div>
</dialog>
<div id="toast" class="toast"></div>

<main>
    <div class="controls">
        <div class="controls--search-container">
            <input type="text" id="search" placeholder="🔍 Поиск по таблице..." oninput="filter()">
        </div>
        <div class="controls--buttons">
            <button onclick="loadServers()">Обновить список</button>
            <button id="open-settings" onclick="showSettings()">⚙️ Настройки</button>
        </div>
    </div>

    <table id="servers">
        <thead>
        <tr>
            <th>#</th>
            <th class="sortable" onclick="sort(0)">Адрес</th>
            <th class="sortable" onclick="sort(1)">Версия</th>
            <th class="sortable" onclick="sort(2)">Описание</th>
            <th class="sortable" onclick="sort(3)">Онлайн</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</main>
<script src="{{ url_for('static', path='/script.js') }}"></script>
</body>
</html>